---
title: Top
---
{{> header}}
<main>
    <header>
        <img src="http://placeimg.com/600/280/arch" alt="sample画像">
    </header>
    <section>
        <h2>Topics</h2>
        {{#each config.topics}}
        <article>
            <h3>{{head}}</h3>
            <time>{{post_date}}</time>
            <p>{{body}}</p>
        </article>
        {{/each}}
    </section>

    {{#is filename "index.html"}}
    <p>{{filename}}</p>
    {{/is}}
</main>
{{> footer}}
