<main>
    <h1>{{config.siteName}}</h1>
    <hr>
    <p>Hello World! JavaScript</p>
    <hr>
    <ul>
      {{#each config.footerLinks}}
        <li><a href="{{url}}">{{title}}</a></li>
      {{/each}}
    </ul>
</main>
