<!DOCTYPE html>
<html lang ="js">
  <head>
    <meta  charset="utf-8">
    <title>{{title}} | Assembleを使ってみよう</title>
    <link rel="stylesheet" href="{{assets}}/css/common.css">
    <script src="{{assets}}/js/jquery-1.11.2.min.js"></script>
    <script src="{{assets}}/js/index.js"></script>
  </head>
  <body>
    {{> body}}
  </body>
</html>
